
# ------------------------
# Python缓存文件
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log
*.tmp
*.spec

# ------------------------
# Jupyter Notebook
# ------------------------
.ipynb_checkpoints/

# ------------------------
# VSCode / IDE 相关
# ------------------------
.vscode/
.idea/
*.swp

# ------------------------
# Conda / 环境配置
# ------------------------
build/
dist/
env/
.venv/
venv/
*.conda
*.env

# ------------------------
# 压缩包 / 安装包
# ------------------------
*.zip
*.tar.gz
*.whl

# ------------------------
# 系统文件
# ------------------------
.DS_Store
Thumbs.db
